<p>
<strong>Description:</strong>
<br>
<h4><%= @todo.description %></h4>
<br>
<strong>Completed:</strong>
<br>
<h4><%= @todo.completed %></h4>
</p>
<%= link_to '<< BACK', todos_path, class: "btn btn-primary" %>